<link href="https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Reenie+Beanie" rel="stylesheet">
<h1 style="font-size: 45px; font-family: 'Reenie Beanie', cursive;">New Article</h1>

<%= render 'form', article: @article %>

<h3 style="font-size: 45px; font-family: 'Reenie Beanie', cursive;"><%= link_to 'Back', articles_path %></h3>
<ul style="font-size: 45px; font-family: 'Reenie Beanie', cursive;"><%= link_to "Back to home page", root_path %></ul><br>