<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
<div class="center jumbotron">
  <h1>Welcome to Project Blog</h1>
  <p><%= link_to "Sign up!", "/signup", class:"btn btn-primary btn-lg btn-xlarge" %></p>
</div>

<article class="article">
  <h1>Interesting Title</h1>
  <p style="color:Orange;">
            Cat ipsum dolor sit amet, meow. Adventure always hopped up on 
            catnip where is my slave? I'm getting hungry. Kitty kitty i'm bored 
            inside, let me out i'm lonely outside, let me in i can't make up my 
            mind whether to go in or out, guess i'll just stand partway in and partway out.
            </p>

            <p style="color:MediumSeaGreen;">
            Put toy mouse in food bowl run out of litter box at full 
            speed i cry and cry and cry unless you pet me, and then 
            maybe i cry just for fun climb leg throw down all the stuff 
            in the kitchen prance along on top of the garden fence, annoy the 
            neighbor's dog and make it bark.
            </p>

            <p style="color: SlateBlue;">
            This human feeds me, i should be a god brown cats with pink 
            ears chase dog then run away or spread kitty litter all over 
            house open the door, let me out, let me out, let me-out, let me-aow, 
            let meaow, meaow! or try to jump onto window and fall while 
            scratching at wall need to chase tail. </p>
</article>

</div>